Package: createstructure
Version: 7.0
Architecture: amd64
Maintainer: Castellani Davide <help@castellanidavide.it>
Installed-Size: 30
Pre-Depends: dpkg (>= 1.16.1), python3.8
Depends: libc6 (>= 2.7)
Section: python
Priority: extra
Description: Lets see https://github.com/CastellaniDavide/create_structure
    That is my project hosted on GitHub
