Package: createstructure-dbgsym
Package-Type: ddeb
Source: createstructure
Version: 7.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Castellani Davide <help@castellanidavide.it>
Installed-Size: 17
Depends: createstructure (= 7.0)
Section: debug
Priority: optional
Description: debug symbols for createstructure
Build-Ids: 93a687cf5ac06a6776c7b233f56b5475370a1608
