Package: createstructure-dbgsym
Package-Type: ddeb
Source: createstructure
Version: 7.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Castellani Davide <help@castellanidavide.it>
Installed-Size: 16
Depends: createstructure (= 7.0)
Section: debug
Priority: optional
Description: debug symbols for createstructure
Build-Ids: 0642bbc7016a95460892cdb30093be2c87837bee
