.vs
.vscode
.venv
__pycache__
build
createstructure.egg-info
dist
*.build
*.buildinfo
*.changes
*.tar.xz
*.dsc
*.orig.tar.gz
*.asc
*.ppa.upload
*.openpgpkey
otrust.txt
file
file2
my-key-secr copy 2.txt
my-key-secr copy.txt
my-key-secr.txt
*pub.*
*sec.*
*.pem
aaa.*
debian-ubuntu-app.md
